@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Rubik',sans-serif;
}

body{
    margin:0;
    background:#f7f8f9;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

#root{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.mobile{
    max-width:375px;
    height:700px;
    background-color: #f0f0f8;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0,0,0,.08);
    border: 1px solid silver;
}
.page{
    padding:28px 20px;
}

.btn{
    width:100%;
    height:46px;
    border:none;
    border-radius:6px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.primary{
    background:#6C25FF;
    color:white;
}

.secondary{
    background:#CEBAFB;
    color:#1D2226;
}

.input-group{
    position:relative;
    margin-bottom:22px;
}

.input-group label{
    position:absolute;
    top:-9px;
    left:12px;
    background:#F7F8F9;
    padding:0 4px;
    color:#6C25FF;
    font-size:13px;
    
}

.input-group input{
    width:100%;
    height:46px;
    border:1px solid  silver;
    border-radius:6px;
    outline:none;
    padding:0 15px;
    font-size:14px;
} 

input::placeholder{
    color: black;
}

.required{
    color:red;
    margin-left:2px;
}



@media (max-width:480px){

    body{
        align-items:flex-start;
    }

    .mobile{
        width:100%;
        max-width:100%;
        min-height:100vh;
        border-radius:0;
        border:none;
        box-shadow:none;
    }

    .page{
        padding:24px 18px;
    }

    .btn{
        height:48px;
        font-size:15px;
    }

    .input-group input{
        height:48px;
        font-size:15px;
    }

}


@media (min-width:481px) and (max-width:768px){

    .mobile{
        width:375px;
        min-height:700px;
    }

}

@media (min-width:769px) and (max-width:1024px){

    .mobile{
        width:375px;
    }

}

@media (min-width:1025px){

    .mobile{
        width:375px;
    }

}